doctype html
html
  head
    title Enroll Workshop
    link(rel="stylesheet", type="text/css", href="/styles.css")
  body
    .container
    include header
  h1 Enroll Success
  p You have successfully enrolled in the workshop!
  a(href=`/workshop/${workshop._id}`) View Workshop Details
