doctype html
html
  head
    title Workshop Details
    link(rel="stylesheet", type="text/css", href="/styles.css")
  body
    .container
    include header
    h1 Workshop Details
    p Title: #{workshop.title}
    p Host: #{workshop.host}
    p Date: #{workshop.date}
    p Location: #{workshop.location}

